.home-container {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }

  body {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('your-background-image.jpg') center/cover fixed;
    overflow-y: scroll; /* Ensure vertical scrollbar appears when needed */
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    margin: 20px 0;
  }
  
  .section.visible {
    opacity: 1;
  }
  
  .section-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section h2 {
    font-size: 24px;
    color: #333;
  }
  
  .section p {
    font-size: 16px;
    color: #666;
  }
  
  .section img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    max-height: 100%; /* Ensure images don't exceed their container's height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  }
  .section img:hover {
    transform: scale(1.1) perspective(1000px) rotateY(10deg);
  }
  .footer {
    text-align: center;
    margin-top: 40px;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 2px solid #333;
    transition: border-color 0.3s ease-in-out;
  }
  
  .footer a:hover {
    border-color: #666;
  }
  .car {
  position: fixed;
  top: 20px; /* Initial position at the top */
  right: 20px; /* Initial position at the right */
  width: 170px;
  margin-top: 5%;
  height: auto;
  transition: top 0.1s ease-out, bottom 0.1s ease-out; /* Add transition for smooth movement */
}

.car.bottom {
  top: auto; /* Reset top position */
  bottom: 20px; /* Move to the bottom */
}
  
  @keyframes moveCar {
    0%, 100% {
      transform: translateY(0); /* Keep the car at the same position */
    }
    50% {
      transform: translateY(10vh); /* Move the car slightly up */
    }
  }
  
  